

  h3 {
    color: blue;
  }

  h2 {
    color: hotpink;
  }

  td{
    color: red !important;
    padding: 2px;
    
  }
  .a{font-style:italic ;font-weight: bold;text-decoration: underline; color: inherit;}

  .b{font-style:italic;font-weight: bold;color:darkmagenta}
  .c{background:yellow;}
  .d{background:white;}
  .e{background:maroon;}
  .f{background:teal;}
  ul{
      font-variant:small-caps;
     }
li{
  letter-spacing: 5px;
}
tr{
  text-shadow:1px white ;
  color:green;
}
b{
  letter-spacing: 6px;
}